{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsdocCapitalizeDescription": false,
  "jsdocPrintWidth": 115,
  "jsxSingleQuote": false,
  "plugins": ["prettier-plugin-jsdoc"],
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "tsdoc": true
}
